openapi: 3.0.0
info:
  title: backend
  version: 1.0.0
  description: An OpenAPI Specification that describes the ABsmartly API for working with your experiments programmatically.
  contact: {}
  license:
    name: Proprietary
servers:
  - url: https://sandbox.absmartly.com
security:
  - UserApiKey: []
tags: []
paths:
  /experiments:
    get:
      summary: Experiments LIST
      description: '**Required Permissions**: `Experiment List` or `Experiment Admin`'
      parameters:
        - name: search
          in: query
          schema:
            type: string
            example: call_to_action
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
        - name: iterations_of
          in: query
          required: false
          description: The `id` of the experiment that you want to get the iterations of.
          schema:
            type: integer
        - name: owners
          in: query
          required: false
          description: An array of `user` ids to sort results by.
          schema:
            type: array
            items:
              type: integer
        - name: teams
          in: query
          required: false
          description: Array of `team` ids to sort results by.
          schema:
            type: array
            items:
              type: integer
        - name: tags
          in: query
          required: false
          description: An array of `tag` ids to sort results by.
          schema:
            type: array
            items:
              type: integer
        - name: applications
          in: query
          required: false
          description: An array of `application` ids to sort results by.
          schema:
            type: array
            items:
              type: integer
        - name: unit_types
          in: query
          required: false
          description: An array of `unit_type` ids to sort results by.
          schema:
            type: array
            items:
              type: integer
        - name: previews
          in: query
          required: false
          description: A boolean value which deliminates whether you want all experiment data or just a few specific statistics
          schema:
            enum:
              - 0
              - 1
        - name: impact
          in: query
          required: false
          description: A tuple value which allows you to specify a `from` and a `to` range of impacts to filter by. **This must be used with a preview query of `1`**
          schema:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
        - name: confidence
          in: query
          required: false
          description: A tuple value which allows you to specify a `from` and a `to` range of confidences to filter by. **This must be used with a preview query of `1`**
          schema:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
        - name: significance
          in: query
          required: false
          description: An array of significances allowing you to filter by positive, negative or unsignificant experiments. **This must be used with a preview query of `1`**
          schema:
            type: array
            items:
              enum:
                - insignificant
                - positive
                - negative
        - name: sample_ratio_mismatch
          in: query
          required: false
          description: A boolean value which allows you to filter for experiments with a `Sample Ratio Mismatch` alert. **This must be used with a preview query of `1`**
          schema:
            type: boolean
        - name: cleanup_needed
          in: query
          required: false
          description: A boolean value which allows you to filter for experiments with a `Code Cleanup Needed` alert. **This must be used with a preview query of `1`**
          schema:
            type: boolean
        - name: audience_mismatch
          in: query
          required: false
          description: A boolean value which allows you to filter for experiments with a `Target Audience Mismatch` alert. **This must be used with a preview query of `1`**
          schema:
            type: boolean
        - name: sample_size_reached
          in: query
          required: false
          description: A boolean value which allows you to filter for experiments with a `Sample Size Reached` alert. **This must be used with a preview query of `1`**
          schema:
            type: boolean
        - name: iterations
          in: query
          required: false
          description: null
          schema:
            enum:
              - 0
              - 1
        - name: sort_asc
          in: query
          required: false
          description: A boolean value which allows you to reverse the order of the experiment list
          schema:
            type: boolean
        - name: items
          in: query
          required: false
          description: An integer value which allows you to limit the number of experiments that are returned per page.
          schema:
            type: integer
        - name: page
          in: query
          required: false
          description: An integer value which represents what page of the experiments list to return
          schema:
            type: integer
      responses:
        '200':
          description: An array of all experiment objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Experiment'
  /experiments/{experimentId}:
    get:
      summary: Experiment GET
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment which you want data from.
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: A JSON Object with experiment data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment:
                    $ref: '#/components/schemas/Experiment'
  /experiments/{experimentId}/start:
    put:
      summary: Experiment START
      description: '**Required Permissions**: `Experiment Start` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment which you want to start.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The action to take on the experiment and a comment to go along with it.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  format: start
                  example: start
                note:
                  type: string
                  example: Starting experiment to test new call to action
      responses:
        '200':
          description: A JSON Object with experiment data, the experiment note and an array of errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  experiment:
                    $ref: '#/components/schemas/Experiment'
                  experiment_note:
                    $ref: '#/components/schemas/ExperimentNote'
                  ok:
                    type: boolean
  /experiments/{experimentId}/stop:
    put:
      summary: Experiment STOP
      description: '**Required Permissions**: `Experiment Stop` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment which you want to stop.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The action to take on the experiment and a comment to go along with it.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  format: stop
                  example: stop
                note:
                  type: string
                  example: Stopping experiment as no significant results were found
      responses:
        '200':
          description: A JSON Object with experiment data, the experiment note and an array of errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  experiment:
                    $ref: '#/components/schemas/Experiment'
                  experiment_note:
                    $ref: '#/components/schemas/ExperimentNote'
                  ok:
                    type: boolean
  /experiments/{experimentId}/full_on:
    put:
      summary: Experiment FULL ON
      description: '**Required Permissions**: `Experiment Full On` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment which you want to put full on.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The full on variant and a report of why this experiment is being put full on.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_on_variant:
                  type: integer
                  format: 1 | 2 | 3
                  example: 1
                note:
                  type: string
                  example: Putting variant 1 full on as we saw significant increase in conversions
      responses:
        '200':
          description: A JSON Object with experiment data, the experiment note and an array of errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  experiment:
                    $ref: '#/components/schemas/Experiment'
                  experiment_note:
                    $ref: '#/components/schemas/ExperimentNote'
                  ok:
                    type: boolean
  /experiments/{experimentId}/archive:
    put:
      summary: Experiment ARCHIVE
      description: '**Required Permissions**: `Experiment Archive` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment which you want to archive.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The action to take on the experiment, the experiment id and a comment to go along with the action.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                archive:
                  type: boolean
                  example: true
                id:
                  description: The `id` of the experiment which you want to archive.
                  type: integer
                  format: int64
                  minimum: 1
                  example: 13
                note:
                  description: The reason why you are archiving this experiment.
                  type: string
                  example: Archiving experiment as it is no longer needed
      responses:
        '200':
          description: A JSON Object with experiment data, the experiment note and an array of errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  experiment:
                    $ref: '#/components/schemas/Experiment'
                  experiment_note:
                    $ref: '#/components/schemas/ExperimentNote'
                  ok:
                    type: boolean
  /experiments/{experimentId}/participants/history:
    post:
      summary: Experiment Participants History DATA
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment that you want the history of.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The parameters to filter the history by.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    segments:
                      type: array
                      items:
                        type: object
                        properties:
                          segment_id:
                            type: integer
                            format: int64
                            minimum: 1
                            example: 1
                          operator:
                            type: string
                            enum:
                              - in
                              - not_in
                            example: not_in
                          values:
                            type: array
                            items:
                              type: string
                              example: absmartly-javascript-sdk
                period:
                  type: string
                  enum:
                    - 1h
                    - 1d
                    - 1w
                    - 1M
                  example: 1d
                tz_offset:
                  type: integer
                  example: 0
      responses:
        '200':
          description: |
            A JSON Object with participants history. The object has three properties, `columnNames`, `columnTypes` and `rows`. 
            `columnNames` is an array of strings which identifies which columns are which in the `rows[][]`. 
            `columnTypes` is an array of strings which identifies the types of data in the `rows[][]`. 
            `rows` is an array of arrays which contain the data of the experiment variants over your selected period. 
            The column names are defined as the following:
            - `date` - The date of the row's data in seconds since epoch.
            - `variant` - The variant that this row describes. (0, 1, 2 or 3).
            - `first_exposure_at` - The date of the first exposure of this variant in the current time period in milliseconds since epoch.
            - `last_exposure_at` - The date of the last exposure of this variant in the current time period in milliseconds since epoch.
            - `unit_count` - The number of units that were exposed to this variant in the current time period.
            - `cum_unit_count` - The cumulative number of units that were exposed to this variant at the end of the current time period.

            :::caution
            The columns may come in a different order than the one listed above. It's important to use the `columnNames` array to identify the index of the column you want to use.
            :::
          content:
            application/json:
              schema:
                type: object
                properties:
                  columnNames:
                    type: array
                    items:
                      type: string
                  columnTypes:
                    type: array
                    items:
                      type: string
                  rows:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
  /experiments/{experimentId}/metrics/main/history:
    post:
      summary: Experiment Main Metrics History DATA
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment that you want the history of.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The parameters to filter the history by.
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    segments:
                      type: array
                      items:
                        type: object
                        properties:
                          segment_id:
                            type: integer
                            format: int64
                            minimum: 1
                            example: 1
                          operator:
                            type: string
                            enum:
                              - in
                              - not_in
                            example: not_in
                          values:
                            type: array
                            items:
                              type: string
                              example: absmartly-javascript-sdk
                period:
                  type: string
                  enum:
                    - 1h
                    - 1d
                    - 1w
                    - 1M
                  example: 1d
                tz_offset:
                  type: integer
                  example: 0
      responses:
        '200':
          description: |
            A JSON Object with main metrics history per period. The object has three properties, `columnNames`, `columnTypes` and `rows`. 
            `columnNames` is an array of strings which identifies which columns are which in the `rows[][]`. 
            `columnTypes` is an array of strings which identifies the types of data in the `rows[][]`. 
            `rows` is an array of arrays which contain the data of the experiment variants over your selected period. 
            The column names are defined as the following:

            ### **Regular Columns:**

            - `date` - The date of the row's data in seconds since epoch.
            - `variant` - The variant that this row describes. (0, 1, 2 or 3).
            - `first_exposure_at` - The date of the first exposure of this variant in the current time period in milliseconds since epoch.
            - `last_exposure_at` - The date of the last exposure of this variant in the current time period in milliseconds since epoch.
            - `unit_count` - The number of units that were exposed to this variant in the current time period.
            - `cum_unit_count` - The cumulative number of units that were exposed to this variant at the end of the current time period.

            ### **Dynamic Columns:**

            - `metric_${metric_id}` - The value of the metric with the id of `${metric_id}` in the current time period.
            - `metric_${metric_id}_mean` - The mean value of the metric with the id of `${metric_id}` in the current time period.
            - `metric_${metric_id}_var` - The variance of the metric with the id of `${metric_id}` in the current time period.
            - `metric_${metric_id}_pvalue` - The p-value of the metric with the id of `${metric_id}` in the current time period.
            - `metric_${metric_id}_impact` - The impact of the metric with the id of `${metric_id}` in the current time period.
            - `metric_${metric_id}_impact_ci_lower` - The lower bound of the confidence interval of the impact of the metric with the id of `${metric_id}` in the current time period.
            - `metric_${metric_id}_impact_ci_upper` - The upper bound of the confidence interval of the impact of the metric with the id of `${metric_id}` in the current time period.

            :::caution
            The columns may come in a different order than the one listed above. It's important to use the `columnNames` array to identify the index of the column you want to use.
            :::
          content:
            application/json:
              schema:
                type: object
                properties:
                  columnNames:
                    type: array
                    items:
                      type: string
                  columnTypes:
                    type: array
                    items:
                      type: string
                  rows:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
  /experiments/{experimentId}/metrics/main:
    post:
      summary: Experiment Main Metrics DATA
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          description: The `id` of the experiment that you want the main metrics of.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The parameters to filter the main metrics by. If no filtering is required then `filters` can be an empty object
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    segments:
                      type: array
                      items:
                        type: object
                        properties:
                          segment_id:
                            type: integer
                            format: int64
                            minimum: 1
                            example: 1
                          operator:
                            type: string
                            enum:
                              - in
                              - not_in
                            example: not_in
                          values:
                            type: array
                            items:
                              type: string
                              example: absmartly-javascript-sdk
      responses:
        '200':
          description: |
            A JSON Object with the current values of the experiment's main metrics. The object has three properties, 
            `columnNames`, `columnTypes` and `rows`. `columnNames` is an array of strings which identifies which 
            columns are which in the `rows[][]`. `columnTypes` is an array of strings which identifies the types of 
            data in the `rows[][]`. `rows` is an array of arrays which contain the current main metric data for each of 
            the experiment's variants. The column names are defined as the following:

            ### **Regular Columns:**

            - `variant` - The variant that this row describes. (0, 1, 2 or 3).
            - `first_exposure_at` - The date of the first exposure of this variant in milliseconds since epoch.
            - `last_exposure_at` - The date of the last exposure of this variant in milliseconds since epoch.
            - `unit_count` - The number of units that have been exposed to this variant.

            ### **Dynamic Columns:**

            - `metric_${metric_id}` - The current value of the metric with the id of `${metric_id}`.
            - `metric_${metric_id}_mean` - The mean value of the metric with the id of `${metric_id}`.
            - `metric_${metric_id}_var` - The variance of the metric with the id of `${metric_id}`.
            - `metric_${metric_id}_pvalue` - The p-value of the metric with the id of `${metric_id}`.
            - `metric_${metric_id}_impact` - The current impact of the metric with the id of `${metric_id}`.
            - `metric_${metric_id}_impact_ci_lower` - The lower bound of the confidence interval of the impact of the metric with the id of `${metric_id}`.
            - `metric_${metric_id}_impact_ci_upper` - The upper bound of the confidence interval of the impact of the metric with the id of `${metric_id}`.

            :::caution
            The columns may come in a different order than the one listed above. It's important to use the `columnNames` array to identify the index of the column you want to use.
            :::
          content:
            application/json:
              schema:
                type: object
                properties:
                  columnNames:
                    type: array
                    items:
                      type: string
                  columnTypes:
                    type: array
                    items:
                      type: string
                  rows:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
  /experiments/{experimentId}/activity:
    get:
      summary: Experiment Activity GET
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A JSON Object containing a particular experiment's activity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment_notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExperimentNote'
                  offset:
                    type: integer
    post:
      summary: Experiment Comment CREATE
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The comment to be inserted in the experiment activity tab.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: The `id` of the experiment where the comment will be created.
                  type: integer
                  format: int64
                  minimum: 1
                  example: 13
                note:
                  description: The comment text.
                  type: string
                  example: Text to be inserted
      responses:
        '200':
          description: A JSON Object containing a particular experiment's activity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment_note:
                    $ref: '#/components/schemas/ExperimentNote'
                  ok:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: string
  /experiments/{experimentId}/activity/{commentId}/reply:
    post:
      summary: Experiment Comment Reply CREATE
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: commentId
          in: path
          required: true
          description: The `id` of the comment where the reply will be created.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        description: The reply to be inserted in the comment.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: The `id` of the comment where the reply will be created.
                  type: integer
                  format: int64
                  minimum: 1
                  example: 13
                note:
                  description: The reply text.
                  type: string
                  example: Text to be replied
      responses:
        '200':
          description: A JSON Object containing a particular experiment's activity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment_note:
                    $ref: '#/components/schemas/ExperimentNote'
                  ok:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: string
  /api_keys:
    get:
      summary: API Keys LIST
      description: '**Required Permissions**: `ApiKey List` or `ApiKey Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object with an array of all created API keys.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
  /api_keys/{apiKeyId}:
    get:
      summary: API Key GET
      description: '**Required Permissions**: `ApiKey Get` or `ApiKey Admin`'
      parameters:
        - name: apiKeyId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the API Key that you wish to get data from.
      responses:
        '200':
          description: A JSON Object a particular API key's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    $ref: '#/components/schemas/ApiKey'
  /applications:
    get:
      summary: Applications LIST
      description: '**Required Permissions**: `Application List` or `Application Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object with an array of all applications that have been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  applications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
  /applications/{applicationId}:
    get:
      summary: Application GET
      description: '**Required Permissions**: `Application Get` or `Application Admin`'
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Application that you wish to get data from.
      responses:
        '200':
          description: A JSON Object an application's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/Application'
  /cors:
    get:
      summary: CORS Allowed Origins LIST
      description: '**Required Permissions**: `CorsAllowedOrigin List` or `CorsAllowedOrigin Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all CORS Allowed Origins.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  cors_allowed_origins:
                    type: array
                    items:
                      $ref: '#/components/schemas/CORS'
  /cors/{corsId}:
    get:
      summary: CORS Allowed Origin GET
      description: '**Required Permissions**: `CorsAllowedOrigin Get` or `CorsAllowedOrigin Admin`'
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the CORS Allowed Origin that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a single CORS Allowed Origin's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cors_allowed_origin:
                    $ref: '#/components/schemas/CORS'
  /environments:
    get:
      description: '**Required Permissions**: `Environment List` or `Environment Admin`'
      summary: Environments LIST
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all created environments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  environments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
  /environments/{environmentId}:
    get:
      summary: Environment GET
      description: '**Required Permissions**: `Environment Get` or `Environment Admin`'
      parameters:
        - name: environmentId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Environment that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a single environment's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  environment:
                    $ref: '#/components/schemas/Environment'
  /experiment_annotations:
    get:
      summary: Experiment Annotations LIST
      description: '**Required Permissions**: `Annotation List` or `Annotation Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
        - name: experiment_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter experiment annotations by `experiment_id`
      responses:
        '200':
          description: A JSON Object containing an array of all experiment annotations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  experiment_annotations:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExperimentAnnotation'
  /experiment_annotations/{experimentAnnotationId}:
    get:
      summary: Experiment Annotation GET
      description: '**Required Permissions**: `Annotation Get` or `Annotation Admin`'
      parameters:
        - name: experimentAnnotationId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Experiment Annotation that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing an experiment annotation's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment_annotation:
                    $ref: '#/components/schemas/ExperimentAnnotation'
  /experiment_tags:
    get:
      summary: Experiment Tags LIST
      description: '**Required Permissions**: `Experiment List` or `Experiment Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all experiment tags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  experiment_tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExperimentTag'
  /experiment_tags/{experimentTagId}:
    get:
      summary: Experiment Tag GET
      description: '**Required Permissions**: `Experiment Get` or `Experiment Admin`'
      parameters:
        - name: experimentTagId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Experiment Tag that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing an experiment tag's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiment_tag:
                    $ref: '#/components/schemas/ExperimentTag'
  /goal_tags:
    get:
      summary: Goal Tags LIST
      description: '**Required Permissions**: `Goal List` or `Goal Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all goal tags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  goal_tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/GoalTag'
  /goal_tags/{goalTagId}:
    get:
      summary: Goal Tag GET
      description: '**Required Permissions**: `Goal Get` or `Goal Admin`'
      parameters:
        - name: goalTagId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Goal Tag that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a goal tag's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  goal_tag:
                    $ref: '#/components/schemas/GoalTag'
  /goals:
    get:
      summary: Goals LIST
      description: '**Required Permissions**: `Goal List` or `Goal Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all goals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  goals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Goal'
  /goals/{goalId}:
    get:
      summary: Goal GET
      description: '**Required Permissions**: `Goal Get` or `Goal Admin`'
      parameters:
        - name: goalId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Goal that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a goal's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  goal:
                    $ref: '#/components/schemas/Goal'
  /metric_tags:
    get:
      summary: Metric Tags LIST
      description: '**Required Permissions**: `Metric List` or `Metric Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all metrics tags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  metric_tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetricTag'
  /metric_tags/{metricTagId}:
    get:
      summary: Metric Tag GET
      description: '**Required Permissions**: `Metric Get` or `Metric Admin`'
      parameters:
        - name: metricTagId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Metric Tag that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a metric tag's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  metric_tag:
                    $ref: '#/components/schemas/MetricTag'
  /metrics:
    get:
      summary: Metrics LIST
      description: '**Required Permissions**: `Metric List` or `Metric Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
        - name: owners
          in: query
          schema:
            type: string
            pattern: ^,+
          required: false
          description: A list of owner_ids for filtering, separated by commas.
          example: 1,2,3
        - name: teams
          in: query
          schema:
            type: string
            pattern: ^,+
          required: false
          description: A list of team_ids for filtering, separated by commas.
          example: 1,2,3
      responses:
        '200':
          description: A JSON Object containing an array of all metrics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                    example: 1
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                    example: 1
                  metrics:
                    type: array
                    items:
                      $ref: '#/components/schemas/Metric'
  /metrics/{metricId}:
    get:
      summary: Metric GET
      description: '**Required Permissions**: `Metric Get` or `Metric Admin`'
      parameters:
        - name: metricId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the metric that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a metric's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  metric:
                    $ref: '#/components/schemas/Metric'
  /permission_categories:
    get:
      summary: Permission Categories LIST
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all permission categories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  permission_categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionCategories'
  /permissions:
    get:
      summary: Permissions LIST
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Permission'
  /roles:
    get:
      summary: Roles LIST
      description: '**Required Permissions**: `Role List` or `Role Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all roles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
  /roles/{roleId}:
    get:
      summary: Role GET
      description: '**Required Permissions**: `Role Get` or `Role Admin`'
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Role that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a role's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    $ref: '#/components/schemas/Role'
  /segments:
    get:
      summary: Segments LIST
      description: '**Required Permissions**: `Segment List` or `Segment Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all segments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  segments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Segment'
  /segments/{segmentId}:
    get:
      summary: Segment GET
      description: '**Required Permissions**: `Segment Get` or `Segment Admin`'
      parameters:
        - name: segmentId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Segment that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a segment's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  segment:
                    $ref: '#/components/schemas/Segment'
  /teams:
    get:
      summary: Teams LIST
      description: '**Required Permissions**: `Team List` or `Team Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all teams.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
  /teams/{teamId}:
    get:
      summary: Team GET
      description: '**Required Permissions**: `Team Get` or `Team Admin`'
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Team that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a team's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  team:
                    $ref: '#/components/schemas/Team'
  /unit_types:
    get:
      summary: Units LIST
      description: '**Required Permissions**: `UnitType List` or `UnitType Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all units.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  unit_types:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitType'
  /unit_types/{unitTypeId}:
    get:
      summary: Unit GET
      description: '**Required Permissions**: `UnitType Get` or `UnitType Admin`'
      parameters:
        - name: unitTypeId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Unit that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a unit's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  unit_type:
                    $ref: '#/components/schemas/UnitType'
  /users:
    get:
      summary: Users LIST
      description: '**Required Permissions**: `User List` or `User Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
  /users/{userId}:
    get:
      summary: User GET
      description: '**Required Permissions**: `User Get` or `User Admin`'
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the User that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a user's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
  /users/{userId}/api_keys:
    get:
      summary: User API keys GET
      description: '**Required Permissions**: `User Get` or `User Admin`'
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the User that you wish to get the API Keys of.
      responses:
        '200':
          description: A JSON Object containing an array of all API keys that are linked to a user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  user_api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
  /webhook_events:
    get:
      summary: Webhook Events LIST
      description: '**Required Permissions**: `Webhook List` or `Webhook Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all webhook events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  webhook_events:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEvent'
  /webhooks:
    get:
      summary: Webhooks LIST
      description: '**Required Permissions**: `Webhook List` or `Webhook Admin`'
      parameters:
        - name: sort
          in: query
          description: The object key to sort the results by.
          schema:
            type: string
            example: name
        - name: sort_asc
          in: query
          schema:
            type: boolean
            example: true
        - name: page
          in: query
          schema:
            type: integer
            example: 1
        - name: items
          in: query
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: A JSON Object containing an array of all webhooks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: integer
                  page:
                    type: integer
                    minimum: 1
                  total:
                    type: integer
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
  /webhooks/{webhookId}:
    get:
      summary: Webhook GET
      description: '**Required Permissions**: `Webhook Get` or `Webhook Admin`'
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: integer
          description: The id of the Webhook that you wish to get data from.
      responses:
        '200':
          description: A JSON Object containing a webhook's data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook:
                    $ref: '#/components/schemas/Webhook'
  /v1/segments:
    get:
      operationId: SegmentsList
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  segments:
                    items:
                      properties:
                        updated_by_user_id:
                          type: number
                          format: double
                        updated_at:
                          type: string
                          format: date-time
                        created_by_user_id:
                          type: number
                          format: double
                        created_at:
                          type: string
                          format: date-time
                        value_source_attribute:
                          type: string
                        description:
                          type: string
                        name:
                          type: string
                        id:
                          type: number
                          format: double
                      required:
                        - updated_by_user_id
                        - updated_at
                        - created_by_user_id
                        - created_at
                        - value_source_attribute
                        - description
                        - name
                        - id
                      type: object
                    type: array
                  total:
                    type: number
                    format: double
                  page:
                    type: number
                    format: double
                  items:
                    type: number
                    format: double
                required:
                  - segments
                  - total
                  - page
                  - items
                type: object
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      description: Retrieve a paginated list of segments with optional filtering, searching, and sorting.
      summary: Segments LIST
      tags:
        - Segments
      security: []
      parameters:
        - description: Comma-separated segment IDs to filter by
          in: query
          name: ids
          required: false
          schema:
            type: string
        - description: Case-insensitive search across name and description fields
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Field name to sort by (e.g. "name", "created_at")
          in: query
          name: sort
          required: false
          schema:
            type: string
        - description: Set to "true" for ascending sort order. Defaults to descending.
          in: query
          name: sort_asc
          required: false
          schema:
            type: string
        - description: Page number for pagination (starts at 1)
          in: query
          name: page
          required: false
          schema:
            format: int32
            type: integer
        - description: Number of items per page. Defaults to 10 when pagination is active.
          in: query
          name: items
          required: false
          schema:
            format: int32
            type: integer
        - description: Comma-separated list of fields to return (e.g. "id,name,created_at")
          in: query
          name: select
          required: false
          schema:
            type: string
    post:
      operationId: SegmentCreate
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items: {}
                    type: array
                  segment:
                    allOf:
                      - properties:
                          created_by:
                            allOf:
                              - properties:
                                  avatar:
                                    properties:
                                      crop_height:
                                        type: number
                                        format: double
                                      crop_width:
                                        type: number
                                        format: double
                                      crop_top:
                                        type: number
                                        format: double
                                      crop_left:
                                        type: number
                                        format: double
                                      base_url:
                                        type: string
                                      content_type:
                                        type: string
                                      file_name:
                                        type: string
                                      file_size:
                                        type: number
                                        format: double
                                      height:
                                        type: number
                                        format: double
                                      width:
                                        type: number
                                        format: double
                                      file_usage_id:
                                        type: number
                                        format: double
                                      created_by_user_id:
                                        type: number
                                        format: double
                                      created_at:
                                        type: string
                                        format: date-time
                                      id:
                                        type: number
                                        format: double
                                    required:
                                      - crop_height
                                      - crop_width
                                      - crop_top
                                      - crop_left
                                      - base_url
                                      - content_type
                                      - file_name
                                      - file_size
                                      - height
                                      - width
                                      - file_usage_id
                                      - created_by_user_id
                                      - created_at
                                      - id
                                    type: object
                                required:
                                  - avatar
                                type: object
                              - properties:
                                  date_format_locale:
                                    type: string
                                  demo_user:
                                    type: boolean
                                  last_login_failure_at:
                                    type: string
                                    format: date-time
                                  last_login_at:
                                    type: string
                                    format: date-time
                                  consecutive_login_failures:
                                    type: number
                                    format: double
                                  archived:
                                    type: boolean
                                  avatar_file_upload_id:
                                    type: number
                                    format: double
                                  job_title:
                                    type: string
                                  department:
                                    type: string
                                  last_name:
                                    type: string
                                  first_name:
                                    type: string
                                  email:
                                    type: string
                                  external_id:
                                    type: number
                                    format: double
                                  updated_by_user_id:
                                    type: number
                                    format: double
                                  updated_at:
                                    type: string
                                    format: date-time
                                  created_by_user_id:
                                    type: number
                                    format: double
                                  created_at:
                                    type: string
                                    format: date-time
                                  id:
                                    type: number
                                    format: double
                                required:
                                  - date_format_locale
                                  - demo_user
                                  - last_login_failure_at
                                  - last_login_at
                                  - consecutive_login_failures
                                  - archived
                                  - avatar_file_upload_id
                                  - job_title
                                  - department
                                  - last_name
                                  - first_name
                                  - email
                                  - external_id
                                  - updated_by_user_id
                                  - updated_at
                                  - created_by_user_id
                                  - created_at
                                  - id
                                type: object
                        required:
                          - created_by
                        type: object
                      - properties:
                          updated_by_user_id:
                            type: number
                            format: double
                          updated_at:
                            type: string
                            format: date-time
                          created_by_user_id:
                            type: number
                            format: double
                          created_at:
                            type: string
                            format: date-time
                          value_source_attribute:
                            type: string
                          description:
                            type: string
                          name:
                            type: string
                          id:
                            type: number
                            format: double
                        required:
                          - updated_by_user_id
                          - updated_at
                          - created_by_user_id
                          - created_at
                          - value_source_attribute
                          - description
                          - name
                          - id
                        type: object
                  ok:
                    type: boolean
                required:
                  - errors
                  - segment
                  - ok
                type: object
        '400':
          description: Unique constraint violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      description: Create a new segment. The name must be unique across all segments.
      summary: Segment CREATE
      tags:
        - Segments
      security: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSegmentBody'
  /v1/segments/{id}:
    get:
      operationId: SegmentGet
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  segment:
                    allOf:
                      - properties:
                          created_by:
                            allOf:
                              - properties:
                                  avatar:
                                    properties:
                                      crop_height:
                                        type: number
                                        format: double
                                      crop_width:
                                        type: number
                                        format: double
                                      crop_top:
                                        type: number
                                        format: double
                                      crop_left:
                                        type: number
                                        format: double
                                      base_url:
                                        type: string
                                      content_type:
                                        type: string
                                      file_name:
                                        type: string
                                      file_size:
                                        type: number
                                        format: double
                                      height:
                                        type: number
                                        format: double
                                      width:
                                        type: number
                                        format: double
                                      file_usage_id:
                                        type: number
                                        format: double
                                      created_by_user_id:
                                        type: number
                                        format: double
                                      created_at:
                                        type: string
                                        format: date-time
                                      id:
                                        type: number
                                        format: double
                                    required:
                                      - crop_height
                                      - crop_width
                                      - crop_top
                                      - crop_left
                                      - base_url
                                      - content_type
                                      - file_name
                                      - file_size
                                      - height
                                      - width
                                      - file_usage_id
                                      - created_by_user_id
                                      - created_at
                                      - id
                                    type: object
                                required:
                                  - avatar
                                type: object
                              - properties:
                                  date_format_locale:
                                    type: string
                                  demo_user:
                                    type: boolean
                                  last_login_failure_at:
                                    type: string
                                    format: date-time
                                  last_login_at:
                                    type: string
                                    format: date-time
                                  consecutive_login_failures:
                                    type: number
                                    format: double
                                  archived:
                                    type: boolean
                                  avatar_file_upload_id:
                                    type: number
                                    format: double
                                  job_title:
                                    type: string
                                  department:
                                    type: string
                                  last_name:
                                    type: string
                                  first_name:
                                    type: string
                                  email:
                                    type: string
                                  external_id:
                                    type: number
                                    format: double
                                  updated_by_user_id:
                                    type: number
                                    format: double
                                  updated_at:
                                    type: string
                                    format: date-time
                                  created_by_user_id:
                                    type: number
                                    format: double
                                  created_at:
                                    type: string
                                    format: date-time
                                  id:
                                    type: number
                                    format: double
                                required:
                                  - date_format_locale
                                  - demo_user
                                  - last_login_failure_at
                                  - last_login_at
                                  - consecutive_login_failures
                                  - archived
                                  - avatar_file_upload_id
                                  - job_title
                                  - department
                                  - last_name
                                  - first_name
                                  - email
                                  - external_id
                                  - updated_by_user_id
                                  - updated_at
                                  - created_by_user_id
                                  - created_at
                                  - id
                                type: object
                        required:
                          - created_by
                        type: object
                      - properties:
                          updated_by_user_id:
                            type: number
                            format: double
                          updated_at:
                            type: string
                            format: date-time
                          created_by_user_id:
                            type: number
                            format: double
                          created_at:
                            type: string
                            format: date-time
                          value_source_attribute:
                            type: string
                          description:
                            type: string
                          name:
                            type: string
                          id:
                            type: number
                            format: double
                        required:
                          - updated_by_user_id
                          - updated_at
                          - created_by_user_id
                          - created_at
                          - value_source_attribute
                          - description
                          - name
                          - id
                        type: object
                required:
                  - segment
                type: object
        '404':
          description: Segment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      description: Retrieve a single segment by its ID, including the user who created it.
      summary: Segment GET
      tags:
        - Segments
      security: []
      parameters:
        - description: The segment's numeric ID
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
    put:
      operationId: SegmentUpdate
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items: {}
                    type: array
                  segment:
                    allOf:
                      - properties:
                          created_by:
                            allOf:
                              - properties:
                                  avatar:
                                    properties:
                                      crop_height:
                                        type: number
                                        format: double
                                      crop_width:
                                        type: number
                                        format: double
                                      crop_top:
                                        type: number
                                        format: double
                                      crop_left:
                                        type: number
                                        format: double
                                      base_url:
                                        type: string
                                      content_type:
                                        type: string
                                      file_name:
                                        type: string
                                      file_size:
                                        type: number
                                        format: double
                                      height:
                                        type: number
                                        format: double
                                      width:
                                        type: number
                                        format: double
                                      file_usage_id:
                                        type: number
                                        format: double
                                      created_by_user_id:
                                        type: number
                                        format: double
                                      created_at:
                                        type: string
                                        format: date-time
                                      id:
                                        type: number
                                        format: double
                                    required:
                                      - crop_height
                                      - crop_width
                                      - crop_top
                                      - crop_left
                                      - base_url
                                      - content_type
                                      - file_name
                                      - file_size
                                      - height
                                      - width
                                      - file_usage_id
                                      - created_by_user_id
                                      - created_at
                                      - id
                                    type: object
                                required:
                                  - avatar
                                type: object
                              - properties:
                                  date_format_locale:
                                    type: string
                                  demo_user:
                                    type: boolean
                                  last_login_failure_at:
                                    type: string
                                    format: date-time
                                  last_login_at:
                                    type: string
                                    format: date-time
                                  consecutive_login_failures:
                                    type: number
                                    format: double
                                  archived:
                                    type: boolean
                                  avatar_file_upload_id:
                                    type: number
                                    format: double
                                  job_title:
                                    type: string
                                  department:
                                    type: string
                                  last_name:
                                    type: string
                                  first_name:
                                    type: string
                                  email:
                                    type: string
                                  external_id:
                                    type: number
                                    format: double
                                  updated_by_user_id:
                                    type: number
                                    format: double
                                  updated_at:
                                    type: string
                                    format: date-time
                                  created_by_user_id:
                                    type: number
                                    format: double
                                  created_at:
                                    type: string
                                    format: date-time
                                  id:
                                    type: number
                                    format: double
                                required:
                                  - date_format_locale
                                  - demo_user
                                  - last_login_failure_at
                                  - last_login_at
                                  - consecutive_login_failures
                                  - archived
                                  - avatar_file_upload_id
                                  - job_title
                                  - department
                                  - last_name
                                  - first_name
                                  - email
                                  - external_id
                                  - updated_by_user_id
                                  - updated_at
                                  - created_by_user_id
                                  - created_at
                                  - id
                                type: object
                        required:
                          - created_by
                        type: object
                      - properties:
                          updated_by_user_id:
                            type: number
                            format: double
                          updated_at:
                            type: string
                            format: date-time
                          created_by_user_id:
                            type: number
                            format: double
                          created_at:
                            type: string
                            format: date-time
                          value_source_attribute:
                            type: string
                          description:
                            type: string
                          name:
                            type: string
                          id:
                            type: number
                            format: double
                        required:
                          - updated_by_user_id
                          - updated_at
                          - created_by_user_id
                          - created_at
                          - value_source_attribute
                          - description
                          - name
                          - id
                        type: object
                  ok:
                    type: boolean
                required:
                  - errors
                  - segment
                  - ok
                type: object
        '400':
          description: Unique constraint violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: Segment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      description: |-
        Update an existing segment's fields. Pass only the fields you want to change
        inside the "data" property of the request body.
      summary: Segment UPDATE
      tags:
        - Segments
      security: []
      parameters:
        - description: The segment's numeric ID
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSegmentBody'
    delete:
      operationId: SegmentDelete
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items: {}
                    type: array
                  ok:
                    type: boolean
                required:
                  - errors
                  - ok
                type: object
        '404':
          description: Segment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      description: Permanently delete a segment by its ID.
      summary: Segment DELETE
      tags:
        - Segments
      security: []
      parameters:
        - description: The segment's numeric ID
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
  /v1/platform_alerts:
    get:
      operationId: PlatformAlertsList
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                items:
                  properties:
                    message:
                      type: string
                    type:
                      $ref: '#/components/schemas/PlatformAlertType'
                    id:
                      type: number
                      format: double
                  required:
[...]
