name: Algolia
on:
  workflow_dispatch:

jobs:
  update_algolia_job:
    name: "Update Algolia"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Algolia config
        id: algolia_config
        run: echo "config=$(cat algolia_config.json | jq -r tostring)" >> "$GITHUB_OUTPUT"

      - name: Push indices to Algolia
        uses: signcl/docsearch-scraper-action@master
        env:
          APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
          API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          CONFIG: ${{ steps.algolia_config.outputs.config }}
